<h1>Grading Conflicts</h1>
</br>
<% if @role == "professor" %>
<%= render "grading_conflicts/professor_table", course: @course, students: @students, staff: @staff, conflicts: @conflicts %>
<% else %>
<div class="well">
<p>
    Use the below slider next to a student's name to indicate that you know this student
    and therefore cannot grade them. Once you have submitted your conflicts, you will
    not be able to edit them again. A professor will be required to edit already submitted 
    conflicts.
  </p>
</div>

<%= render "grading_conflicts/staff_table", header: "Students", role: "Grader", course: @course, users: @students, conflicts: @conflicts %>
<% end %>